html, body, #home {
	height: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}


body {
	
	background-attachment: fixed;
	font-family: 'Lora', serif;
	
	
}


h1{
	text-align: center;
}


@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

.carousel-item {
	background-color: rgba(0, 0, 0, 0.425);
	justify-content: center ;
}

.carousel-item {
	height:50vh;
	background-color: rgba(0, 0, 0, 0.425);
	padding: 10px 0px 50px 0px;

}
.carousel-item p, .carousel-item h1, .carousel-item a  {
	color: #fff;
	text-align: center;
	margin: 15px;
}
.carousel-item a {
	display: flex;
	justify-content: center ;
	align-items: center;
}
.carousel-item p {
	font-size: 3vh;
}

/* Barra de navegação
-----------------------------*/
nav.navbar-transparente {
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    /*border-color: rgba(255,255,255,0.5);*/
}

.divisor {
	width: 1px;
	background: white;
	margin: 12px 15px;
}

.top {
	margin-left: 250px;
	position: fixed;
	bottom: 20px;      
	place-self: end;
	padding: 3px;
	color: #fff;
	background: rgba(0, 0, 0, 0.904);
	border-radius: 100px;
	white-space: nowrap;
	
  }

a:visited.top{
	color: #fff;
	text-decoration: none;
}

#fundo-cardapio{
	background: url(/IMG/fundo-cardapio.svg);
	margin-top: 80px;
}


#titulo-cardapio{
	padding: 10px;
}



#nav-principal{
	padding: 20px;
	font-family: 'Lora', serif;
}

.centro-seletores{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 40px;
}


.altura-imagens{
	padding: 5px;

}

#arrow {
	overflow: hidden;
	
}

#o-que-voce-deseja{
	text-align: center;
	margin: 10px 10px 0 10px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.904);
	
		
}

.botoes-select{
	text-align: center;
	color: #fff;
	background-color: rgba(22, 22, 22, 0.9);
	font-family: 'Lora', serif;
	font-size: larger;
	font-style: italic;
	padding: 0 60px 0 60px;
	border: none;
}

.fundo-drop{
	border: 3px solid #fff;
	background-color: rgba(22, 22, 22, 0.9);
	margin: 9px 0 0 0;
	padding: 0 0;
}

a:link.botoes-select{
	background-color: rgba(22, 22, 22, 0.9);
	color: #fff;
}
a:hover.botoes-select{
	color: #fff;
}
a:active.botoes-select{	
	color: #fff;
}
a:after.botoes-select{	
	color: #fff;
}

.flex-container{
	display: flex;
	flex-direction: column;
}

.flex-item{
	flex-grow: 8;
}

.button{
	margin-bottom: -70px;
	
}

.button1{
	margin-top: 0px;
	margin-bottom: -70px;
}

.button3{
	margin-top: 0px;
	margin-bottom: 40px;
}

a.text-dark {
    margin-top: 7px;
    padding: 1px ;
    border-radius: 20px;
}

#nav-principal a:hover {
	color: #e8b544;

}

.btn:hover {
	transform: scale(1.1);
}

.itens{
	padding: 14px;
}

.btn{
	margin-top: 85px;

}
.h1-cardapio{
	font-size: x-large;
	margin-right: 90px;
		
}
.p-cardapio{
	font-size: 11px;
	margin: 0;
	
}
.imagen-cardapio{
	float: left;
}
.conteudos-cardapio{
	float: right;
	margin-right: 20px;
	margin-top: -15px;
}
a .btn{
	background-color: rgba(0, 0, 0, 0.425);
	color: #fff;
}

h1 {
	font-family: 'Lora', serif;
}
 h2{
	font-family: 'Lora', serif;
}

 p{
	font-family: 'Lora', serif;
}

div.itens a{
	color: #000;
	text-decoration: none;
	font-size: small;
}
footer h2 {
	font-family: lora;
	font-style: italic, ;
}
/* Carrossel 
--------------------------------------------*/ 
@media (max-width:1440px) {
.carousel-inner > .carousel-item > img {
	width: 100vh;
	height: 65vh; 
	padding-top: 65px;
	
  }
.first-image >.carousel-inner > .carousel-item > img  {
	padding-top: 90px;
 }
}
.carousel-control-next, .carousel-control-prev {
	width: 5%;
}

footer {
	background-color: #000;
	padding-top: 2vh;
	padding-bottom: 2vh;
}
footer p {
	color: #fff;
	font-style: italic;
	font-size: small;
	text-align: center;
}
footer i{
	color: #fff;
}

footer h2 {
	color: #fff;
	font-style: bold italic;
	font-size: x-large;
	text-align: center;
	text-decoration: underline;
}
footer svg {
	margin-top: 1vh;
	margin-right: 1vh;
}
footer a {
	text-decoration: none;
	color: #fff;
}
#cardapio h1 {
	font-style: italic ;
	color: #fff;
	font-size: 2em;
	margin-top: 5px;
	background-color: rgba(0,0,0,0.90);
	background-clip: content-box;
		
}




#o-que-voce-deseja {
	margin: top 5vh;;
}

/* Media queries 
--------------------------------------------*/  

@media (max-width: 320px) {
	#conteudo-1{
		width: 320px;
		height: 450px;
		background-image: url('../IMG/fundo1-1440.svg');
		background-size: cover;
	}
	#conteudo-2{
		width: 320px;
		height: 450px;
		background-image: url('../IMG/Fundo-Nossos-Chopps.svg');
		background-size: cover;
	}
	#conteudo-3{
		width: 320px;
		height: 550px;
		background-image: url('../IMG/fundo3.svg');
		background-position: center center;
		background-size: cover;
	}
	
	.altura-imagens{
		padding: 5px;
		margin-left: -15px;
		max-width: 320px;
		justify-content: center;
		
	}
	#cardapio img {
		max-width: 305px;
		margin: 10px 5px 0px 5px;
	}
	footer img {
		max-width: 50px;
		margin-top: 2vh;
	}
	footer h2 {
		font-size: large;
	}

}

@media (min-width: 320.98px){
	#scroll-button {
		position: fixed;
		right: 170px;
		top: 50%;
		width: 8em;
		
	}
	#conteudo-1{
		width: auto;
		height: 500px;
		background-image: url('../IMG/fundo1-1440.svg');
		background-size: cover;
	}

	#conteudo-2{
		width: auto;
		height: 500px;
		background-image: url('../IMG/Fundo-Nossos-Chopps.svg');
		background-size: cover;
	}
	#conteudo-3{
		width: auto;
		height: 500px;
		background-image: url('../IMG/fundo3.svg');
		background-size: cover;
	}


	footer img {
		max-width: 50px;
		margin-top: 2vh;
	}
	#cardapio img {
		width: 90%;
		max-width: 374,98px;
		min-width: 305px;
		margin: 10px 5px 0px 5px;
	}
	

}

@media (min-width: 375px) {
	#conteudo-1{
		width: auto;
		height: 550px;
		background-image: url('../IMG/fundo1-1440.svg');
		background-size: cover;
		background-position: center center;
	}
	#conteudo-2{
		width: auto;
		height: 550px;
		background-image: url('../IMG/Fundo-Nossos-Chopps.svg');
		background-size: cover;
		background-position: center center;
		
	}
	#conteudo-3{
		width: auto;
		height: 550px;
		background-image: url('../IMG/fundo3.svg');
		background-size: cover;
		background-position: center center;
		
	}
	#cardapio img {
		width: 90%;
		max-width: 425px;
		min-width: 360px;
		margin: 10px 5px 0px 5px;
	}
	
}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	#logo{
		width: 150px;
		padding-left: 15px;
	}
}

@media (min-width: 425px)  {
	#conteudo-1{
		width: auto;
		height: 550px;
		background-image: url('../IMG/fundo1-1440.svg');
		background-size: cover;
		background-position: center center;
	}
	#conteudo-2{
		width: auto;
		height: 550px;
		background-image: url('../IMG/Fundo-Nossos-Chopps.svg');
		background-size: cover;
		background-position: center center;
	}
	#conteudo-3{
		width: auto;
		height: 550px;
		background-image: url('../IMG/fundo3.svg');
		background-size: cover;
		background-position: center center;
	}
	#cardapio img {
		width: 90%;
		min-width: 415px;
		max-width: 560px;
		margin: 10px 5px 0px 5px;
	}
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	#logo{
		width: 180px;
	}
	#conteudo-1{
		width: auto;
		height: 733px;
		background-image: url('../IMG/fundo1-1440.svg');
		background-size: cover;
	}
	#conteudo-2{
		width: auto;
		height: 733px;
		background-image: url('../IMG/Fundo-Nossos-Chopps.svg');
		background-size: cover;
	}
	#conteudo-3{
		width: auto;
		height: 733px;
		background-image: url('../IMG/fundo3.svg');
		background-size: cover;
	}
	#cardapio img {
		width: 90%;
		min-width: 560px;
		max-width: 767px;
		margin: 10px 5px 0px 5px;
	}

	
}


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px)  {

	#logo{
		width: 180px;
	}

	#conteudo-1{
		width: auto;
		height: 733px;
		background-image: url('../IMG/fundo1-1440.svg');
		background-size: cover;
		background-position: center center;
	}
	#conteudo-2{
		width: auto;
		height: 733px;
		background-image: url('../IMG/Fundo-Nossos-Chopps.svg');
		background-size: cover;
		background-position: center center;
	}
	#conteudo-3{
		width: auto;
		height: 733px;
		background-image: url('../IMG/fundo3.svg');
		background-size: cover;
		background-position: center center;
	}
	#cardapio img {
		width: 90%;
		min-width: 750px;
		max-width: 991px;
		margin: 10px 5px 0px 5px;
	}
	#o-que-voce-deseja {
		margin-top: 40px;
	}

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	#logo{
		width: 200px;
	}
	#conteudo-1{
		width: auto;
		height: 1100px;
		background-image: url('../IMG/fundo1-1440.svg');
		background-size: cover;
	}
	#conteudo-2{
		width: auto;
		height: 1100px;
		background-image: url('../IMG/testefundo2.svg');
		background-size: cover;
		border-style: none;
	}
	#conteudo-3{
		width: auto;
		height: 1100px;
		background-image: url('../IMG/fundo3.svg');
		background-size: cover;
		border-style: none;
	}
	#cardapio img {
		width: 90%;
		min-width: 985px;
		max-width: 1180px;
		margin: 10px 5px 0px 5px;
	}
	
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	#logo{
		width: 200px;
	}
	#conteudo-1{
		width: auto;
		height: 1100px;
		background-image: url('../IMG/fundo1-1440.svg');
		background-size: cover;
	}
	#conteudo-2{
		width: auto;
		height: 1100px;
		background-image: url('../IMG/testefundo2.svg');
		background-size: cover;
	}
	#conteudo-3{
		width: auto;
		height: 1100px;
		background-image: url('../IMG/fundo3.svg');
		background-size: cover;
	}
	#cardapio img {
		width: 90%;
		min-width: 1180px;
		max-width: 1440px;
		margin: 10px 5px 0px 5px;
	}
}

