html, body, #home {
	height: 100%;
	overflow-x: hidden;
}

HEAD
body {
	
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
}



/* Barra de navegação
-----------------------------*/
nav.navbar-transparente {
	padding: 15px 0px;
	background: rgba(0,0,0,0.90);
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    /*border-color: rgba(255,255,255,0.5);*/
}

.divisor {
	width: 1px;
	background: white;
	margin: 12px 15px;
}

#home{
	background-color: #9bf0e1;
}







/* Carrossel 
--------------------------------------------*/ 
img .img-carrousel{
	background-repeat: no-repeat;
}

.carousel-control-next, .carousel-control-prev {
	width: 5%;
}

.fundo-carrousel{
	background-color: #9bf0e1;
}

/* Media queries 
--------------------------------------------*/  

@media (max-width: 320px) {
	#conteudo-1{
		width: 320px;
		height: 450px;
		background-image: url('../IMG/fundo1-1440.svg');
		background-size: cover;
	}
}

@media (min-width: 320.98px) and (max-width: 374.98px){
	#conteudo-1{
		width: 375px;
		height: 500px;
		background-image: url('../IMG/fundo1-1440.svg');
		background-size: cover;
	}
}

@media (min-width: 375px) and (max-width: 424.98px){
	#conteudo-1{
		width: 425px;
		height: 550px;
		background-image: url('../IMG/fundo1-1440.svg');
		background-size: cover;
	}
}

@media (min-width: 425px) and (max-width: 505px){
	#conteudo-1{
		width: 505px;
		height: 550px;
		background-image: url('../IMG/fundo1-1440.svg');
		background-size: cover;
	}
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	#logo{
		width: 150px;
		padding-left: 15px;
	}
}

@media (min-width: 425px) and (max-width: 575.98px) {
	#conteudo-1{
		width: 575px;
		height: 550px;
		background-image: url('../IMG/fundo1-1440.svg');
		background-size: cover;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	#logo{
		width: 180px;
	}
	#conteudo-1{
		width: 768px;
		height: 733px;
		background-image: url('../IMG/fundo1-1440.svg');
		background-size: cover;
	}
	
}


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

	#logo{
		width: 180px;
	}
	#conteudo-1{
		width: 991px;
		height: 733px;
		background-image: url('../IMG/fundo1-1440.svg');
		background-size: cover;
	}

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	#logo{
		width: 200px;
	}
	#conteudo-1{
		width: 1199px;
		height: 1100px;
		background-image: url('../IMG/fundo1-1440.svg');
		background-size: cover;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	#logo{
		width: 200px;
	}
	#conteudo-1{
		width: 1440px;
		height: 1100px;
		background-image: url('../IMG/fundo1-1440.svg');
		background-size: cover;
	}
}

a.text-dark {
    margin-top: 7px;
    padding: 1px ;
    border-radius: 20px;
}
